body {
    background-color: #62C39B;
}

.calc_body {
    width: 300px;
    margin: 40px auto;
}

.calc_result {
    padding: 15px;
    background-color: white;
    height: 100px;
    text-align: right;
}

#distinct_result_main {
    padding: 10px 0;
    display: table;
    width: 100%;
}

#distinct_result {
    display: table-cell;
    vertical-align: middle;
    color: #B4B1BA;
    font-size: 16px;
}

#total_result {
    margin-top: 0;
    margin-bottom: 0;
    color: #575252;
    font-size: 46px;
}

#calc_clear {
    height: 55px;
    background-color: #f47cad;
    display: table;
}

.button_clear {
    vertical-align: middle;
    display: table-cell;
    position: relative;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10.5px 62.5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_clear:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 60%;
    padding-left: 110%;
    margin-left: -60px !important;
    margin-top: -50%;
    opacity: 0;
    transition: all 0.4s;
}

.button_clear:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.button_clear:active {
    background-color: #924a67;
}

#btn-backspace i {
    color: white;
    width: 22px;
    height: 34px;
}

#backspace {
    display: table-cell;
    vertical-align: middle;
    color: gray;
    padding-right: 4px;
    width: 40px;
    cursor: pointer;
}

.calc_operators {
    text-align: center;
    height: 68px;
    margin: auto;
    background-color: #31B7D3;
}

.button_operator {
    position: relative;
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 17px 28.87px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button_operator:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 100%;
    padding-left: 110%;
    margin-left: -30px !important;
    margin-top: -80%;
    opacity: 0;
    transition: all 0.4s;
}

.button_operator:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.button_operator:active {
    background-color: #1d6d7e;
}